<div class="row justify-content-center">
  <div class="col-6">
    <h2>Đăng ký</h2>
    <%- msg.length ? `
    <div class="alert alert-${msgType}">${msg}</div>
    `: ''; %>
    <form action="" method="post">
      <div class="mb-3">
        <label for="">FullName</label>
        <input
          type="text"
          class="form-control"
          name="fullName"
          placeholder="FullName..."
          required
        />
      </div>
      <div class="mb-3">
        <label for="">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="Email..."
          required
        />
      </div>
      <div class="mb-3">
        <label for="">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Email..."
          required
        />
      </div>
      <div class="d-grid">
        <button class="btn btn-primary">Đăng ký</button>
        <a href="/auth/login" class="mt-4 btn btn-primary">Đăng nhập</a>
      </div>
    </form>
  </div>
</div>
