<div class="row justify-content-center">
  <div class="col-6">
    <h2>Tạo ứng dụng</h2>
    <%- msg.length ? `
    <div class="alert alert-${msgType}">${msg}</div>
    `: ''; %>
    <form action="" method="post">
      <div class="mb-3">
        <label for="">Tên ứng dụng: </label>
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="Name..."
          required
        />
      </div>
      <div class="d-grid">
        <button class="btn btn-primary">Tạo ứng dụng</button>
        <a href="/" class="mt-4 btn btn-primary">Về trang chủ</a>
      </div>
    </form>
  </div>
</div>
